* {
  box-sizing: border-box;
  }
  
body {
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  
    
}

.headerWrap {
  padding: 60px;
  text-align: center;
  background: #dfd9d2;
  color: #070005;
  border: 2px solid black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.side p {
  margin: 10px;
}

.side a {
  text-decoration: none;
  font-size: 20px;
  padding: 3px;
}

.side i {
  font-size: 40px;
}

.main {
  flex: 70%;
  background-color: #ffffff;
  padding: 20px;
}

.navbar {
  font-size: 60px;
  background-color: #ffffff;
  padding: 20px 14px;
  text-align: center;
  border: 1px solid #000000
}

.proImg {
  width: 30vmin;
  height: 30vmin;
  margin: 2vmin;
  border-radius: 50%;
  border: 1px solid #000000;
}

.projImg {
  width: 70vmin;
  height: 60vmin;
  margin: 2vmin;
  border: 1px solid #000000;
}

@media screen and (max-width: 700px) {
  .row, .navbar, .side, .proImg {   
    flex-direction: row;
  }

}
