* {
  box-sizing: border-box;
  }
  
body {
  height: 100vh;
  width: auto;
  font-family: Helvetica;
  
}

a {
  text-decoration: none;
}

.headerWrap {
  padding: 30px;
  text-align: center;
  background-image: url('./images/bigstock-Old-grunge-brick-wall-backgrou-44341411.jpg');
  color: #ffffff;
  border: 2px solid black;
  background-repeat: none;
  background-size: 100%
}

#wallPic {
  background-color: #1b0a0ac7;
  image-rendering: pixelated;
  background-blend-mode: color;
}



.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.side p {
  margin: 10px;
}

.side a {
  text-decoration: none;
  font-size: 20px;
  padding: 3px;
}

.side i {
  font-size: 40px;
}

.main {
  flex: 70%;
  background-color: #ffffff;
  padding: 20px;
}

.navbar {
  font-size: 60px;
  background-color: #000000a3;
  padding: 40px;
  text-align: center;
  border: 1px solid #67010180;
}

.proImg {
  width: 30vmin;
  height: 35vmin;
  border-radius: 50%;
  border: 1px solid #000000;
}

.imgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.projectImg {
  display: flex;
  flex-direction: row;
  
  width: 45vmin;
  height: 45vmin;
  border: 1px solid #000000;
}

@media screen and (max-width: 500px) {
  .row, .headerWrap, .side {   
    flex-direction: row;
  }

  /* .imgWrapper {
    flex-direction: row;
    justify-content: space-around;
  } */

  
  

}
